{{ define "main"}}
<!DOCTYPE html>
<html lang="en">
{{ template "index-header" .Dirtitle}}

<body class="dark relative">
  <div class="dark:bg-black dark:text-gray-50 ease-in duration-300 min-h-screen">
    <!-- container -->
    <div class="md:w-3/4 mx-auto pb-16 pt-4">
      <!-- navigation -->
      {{ template "index-searh-possible-paths" .}}


      {{ template "index-sort" .SortOptions}}
      <!-- diretoris and files list -->
      {{template "index-dir" .}}

      <!-- navigation -->
      {{ template "index-nav" . }}
    </div>
  </div>
  {{template "index-zip" }}

  <script>// {{ template "index-js"}}</script>
</body>

</html>
{{end}}