<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>- Dir name -</title> -->
    <title>{{.Cd}}</title>
</head>

<body>
    <div>
        <button id="zip-download">
            [Download]
        </button>
    </div>

    <div>
        <h1>Upload files</h1>
        <input type="file" id="fileInput" multiple>
        <input id="fileCheckSum" type="checkbox" />
        <button id="fileSubmit">Upload</button>
        <div id="progress">send: --</div>
        <div id="progress-send">send: --</div>
    </div>

    <div>
        <div>
            {{range .Umap}}
            <a href="{{.Url}}">{{.Name}}/</a>
            {{end}}
        </div>

        <br />
        <br />

        <div>
            <table>
                <tr>
                    <td id="clear-selection">
                        <button>Clear</button>
                    </td>

                    <td>
                        Name
                    </td>

                    <td>
                        Type
                    </td>
                </tr>
                {{range .Dir}}
                {{$path := pathJoin $.Od .Name}}
                <tr>
                    <td>
                        <input type="checkbox" data-zip-select="{{$path}}" />
                    </td>
                    <td>
                        <a href="{{$path}}">{{.Name}}</a>
                    </td>
                    <td>
                        {{ if not .IsDir}}[File]{{else}}[Dir]{{end}}
                    </td>
                </tr>
                {{end}}
            </table>
        </div>
    </div>

    <script>
        // {{ template "main.js"}}
        // {{ template "sum256.js"}}
        // {{ template "zip.js"}}
        // {{ template "up.js"}}
    </script>

</body>

</html>
