<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>- Dir name -</title> -->
    <title>{{.Cd}}</title>
</head>

<body>

    <div>
        <h1>Create a directory</h1>
        <form id="mkdir-form">
            <label for="mkdir-input">mkdir:</label>
            <input type="text" id="mkdir-input" name="mkdir-input" placeholder="input a name to create dir"
                pattern="^[a-zA-Z0-9_-]+$" required />
            <button>Submit</button>
        </form>
    </div>


    <br>

    <div>
        <h1>Upload files</h1>
        <input type="file" id="fileInput" multiple>

        <br>
        <label for="fileCheckSum">Validate:</label>
        <input name="fileCheckSum" id="fileCheckSum" type="checkbox" />

        <br>
        <button id="fileSubmit">Upload</button>
        <br>
        <div id="progress-send">send: --</div>
        <div id="progress">current: --</div>

        <br><br>
    </div>

    <div>
        <div>
            {{range .Umap}}
            <a href="{{.Url}}">{{.Name}}/</a>
            {{end}}
        </div>

        <br />
        <br />

        <div>
            <table>
                <tr>
                    <td>
                        <button id="zip-download">Download</button>
                        <button onclick="selectAll()">SelectAll</button>
                        <button onclick="clearSelections()">Clear All</button>
                    </td>

                    <td>
                        Name
                    </td>

                    <td>
                        Type
                    </td>
                </tr>
                {{range .Dir}}
                {{$path := pathJoin $.Od .Name}}
                <tr>
                    <td>
                        <input type="checkbox" data-zip-select="{{$path}}" onclick="markUnmark(this)" />
                    </td>
                    <td>
                        <a href="{{$path}}">{{.Name}}</a>
                    </td>
                    <td>
                        {{ if not .IsDir}}[File]{{else}}[Dir]{{end}}
                    </td>
                </tr>
                {{end}}
            </table>
        </div>
    </div>

    <script>
        // {{ template "main.js"}}
        // {{ template "sum256.js"}}
        // {{ template "zip.js"}}
        // {{ template "up.js"}}
        // {{ template "mkdir.js"}}
    </script>

</body>

</html>