{{ define "index-header"}}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{.}}</title>

  <link rel="stylesheet" href="/?res=css" />
  <link rel="icon" href="/?res=favicon" />
</head>
{{end}}

{{ define "index-searh"}}
<input type="text" id="search"
  class="bg-inherit rounded px-2 py-2 mx-auto block text-xl w-[90%] md:w-[50%] my-4 outline-none border border-emerald-600/40 dark:border-emerald-300/40"
  placeholder="Search" />

{{end}}

{{ define "index-possible-paths-and-sort"}}
<div class="mx-auto w-[95%] md:w-[85%] lg:w-[60%]">
  <div
    class="flex noscrollbar items-center py-2 px-2 mb-4 overflow-x-scroll scroll-smooth text-ellipsis whitespace-nowrap">
    {{range .ProgessPah}}
    <a href="{{.Url}}{{$.Queries}}" class="font-bold hover:underline text-xl">
      {{if .SlashPre}}/{{end}}{{.Title}}
    </a>
    {{end}}
  </div>

  <div class="flex justify-end">
    <form class="text-lg">
      <label for="sort">Sort by:</label>
      <select name="sort" id="sort"
        class="bg-gray-100 dark:bg-gray-900 pl-2 pr-1 py-1 text-inherit outline-none rounded focus:outline-none">
        {{range .SortOptions}}
        <option value="{{if .Name}}{{.Name}}{{end}}" {{if .Selected}}selected="true" {{end}}>
          {{.Title}}
        </option>
        {{end}}
      </select>
    </form>
  </div>
</div>
{{end}}

{{ define "index-nav"}}
<div class="fixed right-4 bottom-6 w-12 h-fit flex flex-col items-center justify-center gap-2 dark:fill-emerald-300 ">
  <!-- menu items -->
  <div id="menu-items"
    class="hidden bg-gray-50/40 dark:bg-gray-900/30 px-2 py-2 rounded border border-slate-100 dark:border-slate-600 shadow-2xl">
    <div class="flex gap-2 flex-col items-center justify-center fill-inherit">
      <button id="theme-btn" class="w-8 h-8"></button>
      <button id="menu-cancel" class="w-8 h-8">
        <svg class="w-full h-full fill-inherit" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
          viewBox="0 0 16 16">
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </button>
    </div>
  </div>

  <!-- menu tougle -->
  <div id="menu" class="w-8 h-8 p-1">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="three-dots fill-inherit w-full h-full "
      viewBox="0 0 16 16">
      <path
        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
    </svg>
  </div>

  <a href="{{.PreviousPage}}" class="w-8 h-8 block">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
      class="w-full h-full fill-inherit" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
    </svg>
  </a>
</div>
{{end}}


{{define "index-zip"}}
<div
  class="fixed noscrollbar scroll-m-2 left-4 bottom-4 bg-emerald-700 text-white dark:bg-emerald-300 dark:text-black  rounded-sm max-h-40 md:max-h-64 shadow-lg overflow-y-scroll">
  <div class="flex justify-center">
    <div id="zip-progress">
      <div id="progress-div" class="hidden p-2">
      </div>
    </div>
  </div>
</div>
{{end}}